.button {
  @include primaryFont;
  min-width: 20rem;
  width: auto;
  height: 5rem;
  letter-spacing: 0.05rem;
  padding: 0 4rem 0 4rem;
  background-color: $main-color;
  color: $main-light-color;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &.google-sign-in {
    background-color: $red-color;
    color: $main-light-color;
    border: 0.05rem solid $red-color;
  }

  &.inverted {
    background: $main-light-color;
    color: $main-color;

    &:hover {
      background-color: $main-color;
      color: $main-light-color;
    }
  }
}
