.cart-item {
  width: 100%;
  display: flex;
  height: 7rem;
  margin-bottom: 1.5rem;
  z-index: 999;

  img {
    width: 27%;
  }

  .item-details {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem 2rem;
  }
}
