.cart {
  cursor: pointer;
  .fa {
    font-size: $default-font-size;
  }
  .count {
    font-size: 1.2rem;
    position: absolute;
    top: 4rem;
    right: 1.7rem;
    background-color: rgba($red-color, 0.7);
    border-radius: 50%;
    width: 1.8rem;
    height: 1.8rem;
    text-align: center;
    line-height: normal;
    color: $main-light-color;
    font-weight: bolder;
  }
}
