.checkout-item {
  width: 100%;
  display: flex;
  min-height: 10rem;
  border-bottom: 0.01rem solid $sub-color;
  padding: 1rem 0;
  align-items: center;

  &:last-child {
    border-bottom: none;
  }

  .image-container {
    width: 23.5%;
    padding-right: 10rem;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .name,
  .quantity,
  .price {
    width: 23.5%;
  }

  .quantity {
    .fa {
      cursor: pointer;
    }
    .value {
      margin: 2rem;
    }
  }

  .remove-button {
    color: $red-color;
    padding-left: 1.2rem;
    font-size: 1.8rem;
    cursor: pointer;
  }
}
