.collection-item {
  width: 22vw;
  display: flex;
  flex-direction: column;
  height: 45rem;
  align-items: center;
  position: relative;
  cursor: pointer;

  .image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 1rem $sub-color;
  }

  .button {
    border-radius: 0.25rem;
    width: 75%;
    opacity: 0.7;
    position: absolute;
    top: 35rem;
    display: none;
  }

  .footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;

    .name {
      width: 90%;
      margin-bottom: 15px;
    }

    .price {
      width: 10%;
    }
  }

  &:hover {
    .image {
      opacity: 0.8;
    }

    .button {
      opacity: 0.85;
      display: flex;
    }
  }
}
