.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;

  .title {
    @include primaryFont;
    font-size: 2.8rem;
    margin-bottom: 2.5rem;
    text-transform: uppercase;
  }

  .preview {
    display: flex;
    justify-content: space-between;
  }
}
