.menu-item {
  min-width: 30%;
  height: 40rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem 1rem $sub-color;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;

    .background-image {
      transform: scale(1.1);
      background-blend-mode: normal;
      transition: all 4s ease;
    }

    .content {
      opacity: 0.8;
      transition: all 2s ease;
    }
  }

  .background-image {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-color: $background-blend-pink;
    background-position: center;
    background-blend-mode: luminosity;
  }

  .content {
    height: 10rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $main-light-color;
    position: absolute;
    border-radius: 0.5rem;
    opacity: 0.6;

    .title {
      @include primaryFont;
      font-size: 4rem;
      color: $main-color;
    }

    .sub-title {
      font-weight: lighter;
    }
  }
}
