@mixin shrinkLabel {
  top: -1.8rem;
  font-size: 1.2rem;
  color: $main-color;
}

@mixin primaryFont {
  color: $main-color;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-weight: bolder;
}
