.collection-page {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 3.8rem;
    margin: 0 auto 3rem;
  }

  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;

    & .collection-item {
      margin-bottom: 3rem;
    }
  }
}
